* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: #1F2937;
    color: white;
    width: 100%;
    padding-top: 25px;
    
}

.dividerHeader {
    flex: 0 1 auto;
    width: 300px;
    background-color: #1F2937;
}

.rightLinks {
    display: flex;
    justify-content: space-around;
    gap: 22px
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header img {
    height: auto;
    width: 320px;
}

.filler {
    width: 100%;
    height: 80px;
    background-color: #1F2937;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1F2937;
    color: #E5E7EB;
    width: 100%;
    height: 300px;
}

.intro img {
    border-radius: 35px;
    height: auto;
    width: 220px;
    margin-bottom: 45px;
}

.intro p {
    max-width: 470px;
}

.dividerIntro {
    flex: 0 1 auto;
    width: 100px;
    background-color: #1F2937;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    max-width: 300px;
}

.description {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 22px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.infoT {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    background-color: white;
    padding: 26px;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 95px;
    background-color: white;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
}

.info img {
    min-height: 150px;
    min-width: 150px;
    border: 1px solid black;
}

.imgf {
    max-width: 150px;
    flex-wrap: wrap;
}