* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    min-width: 100%;
}

.header {
    display: flex;
    justify-content: space-evenly;
    gap: 3%;
    background-color: #1F2937;
    color: white;
    width: 100%;
    padding-top: 25px;
}

.rightLinks {
    display: flex;
    justify-content: space-around;
    min-width: 200px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header img {
    height: auto;
    max-width: 320px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    gap: 2%;
    width: 100%;
    height: fit-content;
    min-height: 400px;
}

.intro img {
    border-radius: 35px;
    height: auto;
    max-width: 250px;
}

.intro p {
    max-width: 470px;
}

h2 {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 800;
    max-width: 300px;
}

.description {
    color: #E5E7EB;
    font-size: 1.1rem;
}

button {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px 22px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.infoT {
    font-size: 2.2rem;
    font-weight: 800;
    color: #1F2937;
    background-color: white;
    padding: 1%;
    margin-top: 2%;
    height: fit-content;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 95px;
    background-color: white;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 400px;
    margin-bottom: 4%;
}

.info img {
    height: 125px;
    max-width: 125px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.imgf {
    flex-wrap: wrap;
}

.info p {
    max-width: 175px;
    font-size: smaller;
    padding: 5px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100%;
    height: fit-content;
    min-height: 420px;
}

.q1-0 {
    font-size: 2.1rem;
    font-style: italic;
    color: #1F2937;
    max-width: 880px;
}

.q1-1 {
    font-weight: 700;
    font-size: 1.1rem;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 30%;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color:#3882F6;
    width: 70%;
    height: 100px;
    color: #F9FAF8;
    border-radius: 12px;
    margin: 5% 10%;
}

.call-to-action button {
    border: 2px solid white;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    font-size: 12px;
}

.copyright {
    display: block;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .q1-0 {
        font-size: 1.5rem;
        margin: 0 1%;
    }
    
    .q1-1 {
        font-weight: 700;
        font-size: 0.9rem;
        color: #1F2937;
        align-self: flex-end;
        margin-right: 30%;
    }
}